body {
	background-color: #333333;
}


/* For making paragraphs white in font */
.whitep {
	color: white;
}


/* Set styles for the navigation bar */
.navbar {
	position: sticky;
	margin-bottom:0;
}

#menubar.affix {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
}


/* For achieving the parralax effect for the heading and main content */
#heading {
	background: url('../img/headbackground2.jpg') 50% 0 fixed;
	height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}

#maincontent {
	background: url('../img/backgroundgrey.jpg') 50% 0 fixed;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 20px 0;
}

#content {
	background: url('../img/backgroundgrey.jpg') 50% 0 fixed;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 20px 0;
}

/* Styling for the side menubar and affixed navbar for the pages */

#sidemenu.affix {
	position: fixed;
	top: 70px;
	width: 160px;
}


	
