export(col_deter)
export(HybRIDS_GUI)
export(HybRIDS)
export(HybRIDSseq)
export(HybRIDStriplet)
export(SimplifyBlocks)
export(SubSeq)
export(vertbar_create)
import(ape)
import(class)
import(ggplot2)
import(grid)
import(gridExtra)
import(png)
