<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ site.name}} | {{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ site.description }}">
	<link href="{{ site.url }}/css/bootstrap.css" rel="stylesheet">
	<link href="{{ site.url }}/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.url }}/css/custom.css" type="text/css"/>
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script>
		document.createElement("section");
	</script>
	<![endif]-->
</head>
<body>

	<!-- Begin Header Banner -->
	<section id="heading" data-speed="6" data-type="background">
		<a href="https://github.com/Ward9250/HybRIDS"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
		<div class="container">
			<div class="row">
				{% if page.headimage %}
				<div class="col-md-4 whitep">
					<img src="{{ page.headimage }}" class="img-rounded">
				</div>
				<div class="col-md-8 whitep">
					<div class="page-header">
						<h1> {{ page.title }} </h1>
						{% if page.subtitle %}
						<p> <h1> <small> {{ page.subtitle }} </small> </h1> </p>
						{% endif %}
					</div>
				</div>
				{% else %}
				<div class="page-header whitep">
					<h1> {{ page.title }} </h1>
					{% if page.subtitle %}
					<p> <h1> <small> {{ page.subtitle }} </small> </h1> </p>
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</section>
	<!-- End Header Banner -->
	
	<!-- Begin Navigation Bar -->
	<div id="menubar" class="navbar navbar-inverse affix-top" data-spy="affix" data-offset-top="450">
		<div class="navbar-header">
			<a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="navbar-brand" href="https://github.com/Ward9250/HybRIDS">HybRIDS</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="./index.html">Home</a></li>
				<li><a href="./about.html">About HybRIDS</a></li>
				<li><a href="./gettingstarted.html">Getting Started</a></li>
				<li><a href="#">HybRIDS Manual</a></li>
				<li><a href="./contact.html">Contact</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Download<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="https://github.com/Ward9250/HybRIDS">GitHub Repository</a></li>
						<li><a href="#">Download TAR</a></li>
						<li><a href="https://github.com/Ward9250/HybRIDS/archive/master.zip">Download ZIP</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- End Navigation Bar -->
	
	<!-- Begin Page Content Below Header -->
	<!-- See files default.html -->

  		
  		
  		
  	